:root{
  --primary:#0c0c00;
  --active_link:#f0f0f0;
}
.flex-f{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-r{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-li{
  list-style-type: none;
  margin: 0 10px;
  padding:10px;
  color:white;
}

/* selected link */
a:active {
  color: var(--active_link);
}